body {
  font-family: "Lato", sans-serif;
}

.sla
{
	font-size: 30px;
}
.two
{
	display: none;
}
.button
{
	width:60%;
	padding:5px;
}
.red
{
	color: RED;
}
.home
{
	background-image: url(../IMAGES/back.gif); 
	background-size:100vh; 
	height:100vh;
}
