body {
  font-family: "Lato", sans-serif;
}

.sla
{
	font-size: 30px;
}
.two
{
	display: none;
}
.button
{
	width:60%;
	padding:5px;
}
.red
{
	color: RED;
}
.home
{
	background-image: url(../IMAGES/back.gif); 
	background-size:cover; 
	background-repeat:no-repeat;
	height:100vh;
	animation:anima 2s infinite;
	
}
@keyframes anima
{
0%{text-shadow: 0 0 10px RED;}
25%{text-shadow: 0 0 10px YELLOW;}
50%{text-shadow: 0 0 10px RED;}
75%{text-shadow: 0 0 10px YELLOW;}
100%{text-shadow: 0 0 10px RED;}
}
.logo
{
	background:WHITE;
	background-position: center;
	border-radius:30px;
}
.learn
{
	font-size: 5rem;
}
.about
{
	background:#A9A9A9;
	height: 100vh;
}
